*{
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
}


.parentContainer{
  /* width: 300px; */
  width:60%;
  margin:0px auto;
  text-align: center;
  font-size:12px;
  padding:10px;
}

.product-cards{
    height:auto;
    width:300px;
    color: black;
    border:1px solid black;
    border-radius: 12px;
    border-color: rgb(4, 4, 4);
}
.product-cards:hover{
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}

.out_of_stock{
    opacity:0.5;
    border:2px solid;
    border-color: red;
}

.productContainer{
    height:auto;
    width:auto;
    margin: 10px;
    display:flex;
    flex-wrap: wrap;
    gap:10px;
}
.search_input{
    width:100%;
    height:24px;
    border-radius: 12px;
    padding: 5px;
}

.product_image{
    height:120px;
    width : 100%;
    border-radius: 12px;
}
.content_wrapper{
    text-align: center;
    margin-top: 3px;
    padding:5px;
}